<!-- PAGE HEADER -->
    <div class="page-header">
        <div class="text-center">
            <p class="oj-for-title"></p>
            <div class="well">
                <h1 class="date">Official Journals Statistics</h1>
            </div>
        </div>
    </div>
    <p id="spinner" ng-show="ajax"><img  ng-src="img/spinner.gif"/></p>
    <div id="ojByYear" class="oj-chart">
        <h2 class="chart-title">Number of OJs published by year</h2>
        <canvas tc-chartjs-line chart-options="optionsOjByYear" chart-data="dataOjByYear"></canvas>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 legend-below" id="expByLang">
            <h2 class="chart-title">By language</h2>
            <canvas tc-chartjs-doughnut chart-options="optionsExpByLang" chart-data="dataExpByLang" auto-legend></canvas>
        </div>
        <div class="col-xs-12 col-md-6 legend-below" id="ojsByClass">
            <h2 class="chart-title">By OJ class</h2>
            <canvas tc-chartjs-doughnut chart-options="optionsOjsClass" chart-data="dataOjsClass" auto-legend></canvas>
        </div>
    </div>
     <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 legend-below" id="manifByType">
            <h2 class="chart-title">By type of manifestation</h2>
            <canvas tc-chartjs-doughnut chart-options="optionsManifByType" chart-data="dataManifByType" auto-legend></canvas>
        </div>
    </div> 
