/* app css stylesheet */

html{position:relative;min-height:100%}
header.navbar{background-color:rgba(0,140,186,0.85);box-shadow:rgba(0,0,0,0.15) 0 2px 0 0}
main{margin-top:40px}
code{font-size:80%}
.oj-for-title{font-size:24px;color:#999}
.page-header .well{font-size:36px;position:relative;min-width:250px}
.page-header>.well h1{margin:0px;padding:0px}
.arrow-links{color:#008cba}
.arrow-links-disabled{color:#e3edf0}
.arrow{position:absolute;top:33%}
.arrow-left{left:5%}
.arrow-right{right:5%}
.date{margin-left:50px;margin-right:50px;display:block}
.js-datepicker{font-size:26px;margin-left:20px;color:#008cba}
{margin-top:62px}
.oj-title{color:#fff;margin-bottom:10px;font-size:18px;font-style:normal;padding:9px;font-weight:bold}
.oj-btns{margin-bottom:20px;border-bottom:1px solid #dddddd;padding-bottom:30px}
.oj-btns-li{margin-bottom:10px}
.btn-oj{width:135px;margin-bottom:8px;}
.bg-success{background-color:#43ac6a}
.bg-primary{background-color:#008cba}
.bg-info{background-color:#5bc0de}
.bg-warning{background-color:#e99002}
.btn-expr{width:40px;text-align:center;margin-bottom:4px;margin-right: 3px;}
.btn-manif{width:60px;text-align:center;margin-bottom:4px;margin-right: 3px;}
#spinner {text-align:center}
.oj-btns-li {
	color:#FFF;
}
.btn-oj:hover span{
	color:#FFF;
}
.panel-oj {
  opacity:1;
}

.panel-oj.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.panel-oj.ng-hide {
  opacity:0;
}

footer {
text-align:center;
padding-top: 120px;
padding-bottom: 40px;
margin-top: 10px;
color: #777;
text-align: center;
}
main {
	min-height: 500px;
}
.js-datepicker {
	cursor:pointer;
}

.file span {
  font-style: italic;
  font-size: 0.8em;
  color: #009D97;
}

ul.tc-chart-js-legend {
  list-style-type: none;
}

ul.tc-chart-js-legend li span {
  display: inline-block;
  width: 100%;
  height: 1em;
  margin-right: 5px;
}

.oj-chart {
  width: 100%;
  margin: auto;  
  margin-bottom: 100px;
}

div.legend-below ul {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

div.legend-below ul li {
  display: inline-block;
  width: 14%;
  text-align: center;
  margin-right: 4%;
  text-transform: lowercase;
  min-width: 30px;
}


.chart-title {
  text-align:center;
  margin-bottom: 30px;
}